@import url(animations.css);
@import url(styles.css);

#ferramentas {
    height: 50vh;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
}

#sliderFerramentas {
    border: 1px solid black;
    width: 80%;
    margin-inline: auto;
    position: relative;
    height: 15vh;
    margin-top: 5rem;
    overflow: hidden;
}

#sliderFerramentas .item{
    width: 200px;
    height: 100px;
    background-color: yellow;
    border-radius: 6px;
    position: absolute;
    left: 100%;
    animation-name: scrollleft;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}