@import url(animations.css);
@import url(styles.css);

:root {
    --animationspeed:30s;
    --numeberoftools:8;
}

@property --numeberoftools{
    syntax: '<int>';
}

#ferramentas {
    height: 50vh;
    width: 100%;
    background-color: red;
    display: flex;
    align-items: center;
}

#sliderFerramentas {
    border: 1px solid black;
    width: 80%;
    margin-inline: auto;
    position: relative;
    height: 15vh;
    margin-top: 5rem;
    overflow: hidden;
}

#sliderFerramentas .item{
    width: 200px;
    height: 100px;
    background-color: yellow;
    border-radius: 6px;
    position: absolute;
    left: 100%;
    animation-name: scrollleft;
    animation-duration: var(--animationspeed);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#sliderFerramentas .item1 {
    animation-delay: calc(30s/8*(8-1)*-1);
}

#sliderFerramentas .item2 {
    animation-delay: calc(30s/8*(8-2)*-1);
}

#sliderFerramentas .item3 {
    animation-delay: calc(30s/8*(8-3)*-1);
}