@import url(animations.css);
@import url(styles.css);

:root {
    --animationspeed:20s;
    --numeberoftools:8;
}

#ferramentas {
    padding: 5vh;
    height: 55vh;
    width: 100%;
    background-color: var(--mainColor3);
    /*Flex*/
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*Font*/
    color:var(--corFonte);
}

#ferramentas h2 {
    font-size: 5vh;
    margin: 0.5vh;
}

#ferramentas p {
    font-size: 2vh;
    margin: 0.5vh;
    width: 40%;
    height: fit-content;
    text-align: center;
}

#sliderFerramentas {
    width: 90%;
    margin-inline: auto;
    position: relative;
    height: 20vh;
    margin-top: 3vh;
    overflow: hidden;
}

#sliderFerramentas .item img {
    height: 100%;
}

#sliderFerramentas .item{
    filter: grayscale(100%);
    width: fit-content;
    height: 80%;
    border-radius: 20px;
    position: absolute;
    right: 100%;
    animation-name: scrollleft;
    animation-duration: var(--animationspeed);
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

#sliderFerramentas:hover .item {
    animation-play-state: paused;
}

#sliderFerramentas .item:hover {
    filter: none;
    scale: 1.2;
    width: auto;
}

#sliderFerramentas .item1 {
    animation-delay: calc(var(--animationspeed) / var(--numeberoftools) * (var(--numeberoftools) - 1) *-1);
}

#sliderFerramentas .item2 {
    animation-delay: calc(var(--animationspeed) / var(--numeberoftools) * (var(--numeberoftools) - 2)*-1)s;
}

#sliderFerramentas .item3 {
    animation-delay: calc(var(--animationspeed) / var(--numeberoftools) * (var(--numeberoftools) - 3)*-1);
}

#sliderFerramentas .item4 {
    animation-delay: calc(var(--animationspeed) / var(--numeberoftools) * (var(--numeberoftools) - 4)*-1);
}

#sliderFerramentas .item5 {
    animation-delay: calc(var(--animationspeed) / var(--numeberoftools) * (var(--numeberoftools) - 5)*-1);
}

#sliderFerramentas .item6 {
    animation-delay: calc(var(--animationspeed) / var(--numeberoftools) * (var(--numeberoftools) - 6)*-1);
}

#sliderFerramentas .item7 {
    animation-delay: calc(var(--animationspeed) / var(--numeberoftools) * (var(--numeberoftools) - 7)*-1);
}

#sliderFerramentas .item8 {
    animation-delay: calc(var(--animationspeed) / var(--numeberoftools) * (var(--numeberoftools) - 8)*-1);
}

#sliderFerramentas .item9 {
    animation-delay: calc(var(--animationspeed) / var(--numeberoftools) * (var(--numeberoftools) - 9)*-1);
}

#sliderFerramentas .item10 {
    animation-delay: calc(var(--animationspeed) / var(--numeberoftools) * (var(--numeberoftools) - 10)*-1);
}