@import url(styles.css);
@import url(animations.css);

#projetos {
    background-color: var(--mainColor1);
    height: 70vh;
    width: 100;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#projetosWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40vh;
    width: 100%;
}

.projeto {
    height: 40vh;
}

.projeto img {
    height: 100%;
    border-radius: 10vh;
    object-fit: contain;
    animation: appear linear;
    animation-timeline: view();
    animation-range: entry 0% cover 40%;
}
