@import url(animations.css);
@import url(ferramentas.css);
@import url(projetos.css);
@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@200;300;400;500;700;800&display=swap');

* {
    margin: 0vh;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Turret Road';
}

:root {
    --corFonte:white;
    --mainColor1:#339966;
    --mainColor2:#d3feea;
    --mainColor3:#07301a;
    --mainColor4:#66cc99;
    
}


#index {
    z-index: 1;
    position: absolute;
    margin: 0px;
    border-bottom-left-radius: 10vh;
    border-bottom-right-radius: 10vh;
    list-style: none;
    height: 5vh;
    width: 100%;
    background-color: var(--mainColor1);
    /*Flex Box stuff*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
    transition: 1s;
}

#index:hover {
    border-radius: 0px;
    box-shadow: 0px 0px 2vh var(--mainColor2);
}

#index li {
    color: white;
    height: fit-content;
    margin: 1vw;
    font-size: 2vw;
}

#intro {
    position: relative;
    height: 45vh;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: end;
    /*Background*/
    background-image: linear-gradient(var(--mainColor4),var(--mainColor1));
}

#intro img {
    position: relative;
    height: 80%;
    margin: 1vh;
    border-radius: 20vh;
}

#intro::after {
    position: absolute;
    height: 100px;
}

#bem_vindo {
    height: 80%;
}

#bem_vindo h1 {
    font-size: 10vh;
    margin: 2vh;
}

#bem_vindo h2 {
    font-size: 4vh;
    margin: 2vh;
}

#bem_vindo p {
    font-size: 2vh;
    margin: 2vh;
}
