@import url(animations.css);

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root {
    --mainColor1:#339966;
    --mainColor2:#d3feea;
    --mainColor3:#07301a;
    --mainColor4:#66cc99;
    
}


#index {
    z-index: 1;
    position: absolute;
    margin: 0px;
    border-bottom-left-radius: 10vh;
    border-bottom-right-radius: 10vh;
    list-style: none;
    height: 5vh;
    width: 100%;
    background-color: var(--mainColor4);
    box-shadow: 0px 0px 5px var(--mainColor3);
    /*Flex Box stuff*/
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

#index li {
    color: white;
    height: fit-content;
    margin: 1vw;
    font-size: 2vw;
}

#intro {
    position: relative;
    height: 40vh;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    align-items: end;
    /*Background*/
    background-image: linear-gradient(var(--mainColor2),var(--mainColor1));
}

#intro img {
    position: relative;
    height: 90%;
    margin: 1vh;
    border-radius: 130px;
}

#bem_vindo {
    height: 80%;
}

#bem_vindo h1 {
    font-size: 10vh;
}

#bem_vindo h2 {
    font-size: 4vh;
}

#bem_vindo p {
    font-size: 2vh;
}
